﻿@using AspMfg

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Trips Index";
}
<div class="panel panel-default">
  <div class="panel-heading">Trips</div>
  <div class="panel-body">
	<ul class="list-group">
	@foreach (var trip in (IEnumerable<Trip>)ViewData["Trips"])
	{
	    <li class="list-group-item">@trip.ToString()</li>
	}
	</ul>
  </div>
</div>